html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	font-family: sans-serif;
}

.sequencer {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
}

i,
svg {
	pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
	width: 5rem;
	height: 5rem;
	margin: 1rem 0.5rem;
	cursor: pointer;
}

.kick-pad {
	background: rgb(143, 175, 202);
}

.snare-pad {
	background: rgb(177, 130, 184);
}

.hihat-pad {
	background: rgb(189, 154, 138);
}

.kick-pad.active {
	background: rgb(24, 115, 190);
}

.snare-pad.active {
	background: rgb(173, 16, 194);
}

.hihat-pad.active {
	background: rgb(197, 81, 27);
}

.kick-track,
.snare-track,
.hihat-track {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin-top: 5rem;
}

.kick,
.snare,
.hihat {
	display: flex;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex: 1;
	margin: 0 2rem;
}

.controls button {
	padding: 1rem;
	border: none;
	background: rgb(87, 87, 87);
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
	transition: all 5s ease;
}

.pad {
	transform: all 0.5s ease;
}

.play {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	background: rgb(87, 87, 87);
	border: none;
	cursor: pointer;
	color: #fff;
	margin-top: 3rem;
}

.mute.active {
	background-color: gray;
}

select {
	width: 15rem;
	padding: 1rem;
	font-size: 1rem;
}

@keyframes playTrack {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.2);
	}
}

.tempo {
	margin: 3rem;
	width: 30%;
}

/* The slider itself */
.tempo-slider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
	transition: opacity 0.2s;
}

/* Mouse-over effects */
.tempo-slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.tempo-slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4caf50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.tempo-slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4caf50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.tempo p {
	font-size: 1.5rem;
	margin: 2rem 0rem;
	text-align: center;
}
